@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 align="center"> WELCOME TO KITABPASAL</h1>
    <h6>The only destination with all your favourite Books</h6>
</div>
<div class="container">
    <div class="row no-gutters">
        <div class="col-12">
            <img id="dynamicImage" src="/images/images1.png" class="img-container" alt="Rotating Image">
        </div>
    </div>
</div>
@section Scripts {
    <script src="~/js/imageRotator.js"></script>
}
<div class="mt-5"></div>
<div class="container border border-3">
    <div class="row">
        <!--picture and text blocks--!>
                 <div class="col-md-3 d-flex align-items-center border border-1">
                 <img src="/images/main1.jpg" class="img-fluid " alt="Quick Delivery" />
                 <p><b>Quick Delivery </b></p>
                 </div>
                 <div class="col-md-3 d-flex align-items-center border border-1">
                 <img src="/images/main2.jpg" class="img-fluid " alt="Easy Pay" />
                 <p><b>Easy Pay  </b></p>
                 </div>
                 <div class="col-md-3 d-flex align-items-center border border-1">
                 <img src="/images/main3.jpg" class="img-fluid " alt="Best Deals" />
                 <p><b>Best Deals</b></p>
                 </div>
                 <div class="col-md-3 d-flex align-items-center border border-1">
                 <img src="/images/main4.jpg" class="img-fluid " alt="Secured Payment" />
                 <p><b>Secured Payment</b></p>
                 </div>


            </div>
        </div>
                <div class="mt-5"></div>
        <div>
            <h5> Current Bestsellers</h5>
        </div>

